<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/07effcf10e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <h1>este es mi mercado liebre</h1>
    <header>
        <div class="logo">
            <div class="lyf">
            <img src="./images/logo-mercado-liebre.svg" alt="logo">

            
                <form class="form" action="#" method="GET">
                        <input class="input" placeholder="Buscar productos, marcas">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i> </button>
                        
                </form>
               </div>
            <p> <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>
            
        </div>

        <nav>
            <ul class="a">
                <li>
                    <a href="#"> Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="b">
                <li>
                    <a href="/register">Créa tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
                <section class="banner">
                    <img src="./images/img-home-banner.jpg" alt=" banner" width="350px">
                </section>
    </header>
    <main>
        <section class="ultima-vista"> 
            
            <h2 class="titulares"> Basado en tu última vista</h2>
            <div class="bloque">
            
                <article class="articulos-main" >
                 
                   <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="200px">
                <div class="producto-main">
                    <i class="fa-solid fa-truck-moving"></i>
            <div class="pyd">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>

            
            <h3 class="descripcion" >Cafetera Moulinex</h3> 
           
            </div>    
            </article> 
            
           <article class="articulos-main">
            
            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="200px">
          <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
                <div class="pyd">
            <p class="precio">$230.000</p> 
            <p class="descuento">20% off</p>
            </div>
            
                <h3 class="descripcion">MacBook Pro 2019</h3>
            
            </div>
            
            </article>
            <article class="articulos-main">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsumg Galaxy" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
            <div class="pyd">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            
                <h3 class="descripcion">Samsung Galaxy S10</h3>
            
            </div>
            </article>
            <article class="articulos-main">
            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
            <div class="pyd">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            
                <h3 class="descripcion">SmartTv Samsung 43"</h3>
            
            </div>
            </article>
         </div>
        
        </section>
        <section class="oferta">
            
            <h2 class="titulares">Ofertas</h2>
           <div class="bloque">
                <article class="articulos-main">
            <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
            <div class="pyd">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            
                <h3 class="descripcion">Cafetera Moulinex</h4>
            
            </div>
                </article>
                <article class="articulos-main">
            
            <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
                <div class="pyd">
            <p class="precio">$230.000</p> 
            <p class="descuento">20% off</p>
            </div>
            
                <h3 class="descripcion">MacBook Pro 2019</h3>
           
            </div>
                </article>
                <article class="articulos-main">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsumg Galaxy" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
            <div class="pyd">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
           
            <h3 class="descripcion">Samsung Galaxy S10</h3>
            
            </div>
                </article>
            <article class="articulos-main">
            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="200px">
            <div class="producto-main">
                <i class="fa-solid fa-truck-moving"></i>
                <div class="pyd">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            
            <h3 class="descripcion">SmartTv Samsung 43"</h3>
            
            </div>
            </article>
        </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="footer">
            <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>
            Con Mercado Liebre Cash, tenés cuotas sin <br>
            interés con tarjeta o efectivo en puntos de<br>
            pago. ¡Y siempre es seguro!<br>
            </p>
            </article>
            <article>
            <i class="fa-solid fa-gift"></i>

            <h3>Envió gratis desde $2500</h3>
                <p>
                Solo por estar registrad@ en Mercado Liebre<br>
                tenés envíos gratis en miles de productos. Es<br>
                un beneficio de Mercado Puntos.<br>
                </p>
            </article>
            <article>
                <div class="footer">
            <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
                    no hay nada que no puedas hacerporque estás<br>
                    siempre protegid@.<br>
                </p>
            
            </article>
        </div>
        </section>
    
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
        
    </footer>
</body>
</html>