<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/07effcf10e.js" crossorigin="anonymous"></script>
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <div class="lyf">
                <img src="./images/logo-mercado-liebre.svg" alt="logo">


                <form class="form" action="#" method="GET">
                    <input class="input" placeholder="Buscar productos, marcas">
                    <button type="submit" placeholder=""><i class="fa-solid fa-magnifying-glass"></i> </button>

                </form>
            </div>
            <p> <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>

        </div>

        <nav>
            <ul class="a">
                <li>
                    <a href="#"> Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="b">
                <li>
                    <a href="/register">Créa tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
        <section class="banner">
            <img src="./images/img-home-banner.jpg" alt=" banner" width="350px">
        </section>
    </header>
    <main id="form">
        <h1 id="f">Registro</h1>
        <form action="/register" method="post" id="formulario">

            <label for="nombre">

                <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido">
            </label>

            <p>
                <label for="usuario">

                    <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                </label>
            </p>
            <h3> Fecha de nacimiento</h3>
            <label for="fechaDeNacimiento"> </label>
            <input type="date" name="fechaDeNacimiento" id="fechaDeNacimiento">

            <label for="domicilio">
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </label>
            
            <h3>Perfil de Usuario</h3>
            <div class="perfilU">
            <label for="comprador">
                <input type="radio" name="perfilDeUsuario" value="comprador" id="comprador">Comprador<br>
            </label>
            <label for="vendedor"><br>
                <input type="radio" name="perfilDeUsuario" value="Vendedor" id="vendedor">Vendedor<br>
            </label><br>
            </div>


            <div class="interes">
                <h3>Interes</h3>
                <label>
                    
                </label>
                <label for="Electro">
                    <input type="checkbox" name="intereses" value="Electro" id="Electro">Electro
                </label>
                <label for="Moda">
                    <input type="checkbox" name="intereses" value="Moda" id="Moda">Moda
                </label>
                <label for="Hogar">
                    <input type="checkbox" name="intereses" value="Hogar" id="Hogar">Hogar
                </label>
                <label for="Jugueteria">
                    <input type="checkbox" name="intereses" value="Jugueteria" id="Jugueteria">Jugueteria
                </label>
                <label for="Vida sana">
                    <input type="checkbox" name="intereses" value="Vida sana" id="Vida sana">Vida sana
                </label>

            
            </div>
            <h3>Foto de perfil:</h3>

            <label for="foto">
                
            </label>
            <input type="file" name="foto" accept=".jpg" id="foto">
            
        
                <h3>Contraseña</h3>
                <label for="contraseña">
                    
                    <input placeholder="contraseña" type="password" name="password" id="contraseña" required>
                </label>
            
                <h3>Confirmar contraseña</h3>

                <label for="contraseña1">
                    
                    <input placeholder="contraseña" type="password" name="password2" required id="contraseña1"/>
                </label>
            </p>
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
        </form>
    </main>
    <footer>
        <section>  
            <div class="footer"></div>
            <article>
              
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin <br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro!<br>
                </p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>

                <h3>Envió gratis desde $2500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre<br>
                    tenés envíos gratis en miles de productos. Es<br>
                    un beneficio de Mercado Puntos.<br>
                </p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>
                    no hay nada que no puedas hacerporque estás<br>
                    siempre protegid@.<br>
                </p>
            
            </article>
        </div>
        </section>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>


    </footer>
</body>

</html>